.album-wrapper {
  flex-grow: 1;
  margin-top: 32px;
  overflow-y: scroll;
}

.album-wrapper::-webkit-scrollbar {
  width: 15px;
}

.album-wrapper::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.album-wrapper::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 10px;
  border: 3px solid var(--primary-color);
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 24px;
}

.album-item {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.album-item:hover {
  background: var(--dark);
}

.album-poster {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.album-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--white);
}

.album-artist {
  margin-top: 4px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text);
}

.album-img {
  width: 240px;
  aspect-ratio: 1/1;
}

.album-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 24px;
}

.album-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.album-content__type {
  color: var(--white);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.album-content__name {
  color: var(--white);
  font-size: 56px;
  line-height: 64px;
  font-weight: 900;
}

.album-content__author {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.album-content__circle {
  width: 4px;
  height: 4px;
  background: var(--light-gray);
  border-radius: 100%;
}

.album-content__author p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: var(--light-gray);
}

.album-content__author span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: var(--white);
}